html,
body {
    --darkest: #0f0210;
    --medium: #5f4842;
    --dark-accent: #432e36;
    --light: #af8d86;
    --light-accent: #edbfc6;
    color: var(--light);
    font-family: "Josefin Sans", sans-serif;
    background-color: var(--darkest);
    margin: 0;
    padding: 0;
}

/* STICKY HEADER! */
#header {
    position: sticky;
    top: 0;
    z-index: 100;
}

#header-img {
    background-color: var(--light-accent);
    display: inline;
}

h1 {
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.5em;
    color: var(--light-accent);
    display: inline-block;
}

a {
    text-decoration: none;
    color: var(--light-accent);
}

nav {
    float: right;
}

nav a {
    position: relative;
    display: block;
    padding: 10px 16px;
    text-align: center;
    text-transform: uppercase;
    float: left;
    margin-right: 3em;
}
nav a:hover:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
}
nav a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--light-accent);
    -webkit-transform-origin: right;
    transform-origin: right;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    /* -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; */
    -webkit-transition: transform 0.9s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 0.9s cubic-bezier(0.19, 1, 0.22, 1);
}

#video {
    width: 100%;
    height: auto;
}

#video:focus {
    outline: none;
}
